@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

#countries {
    background-color: var(--text-alternate);
    border: none;
    width: 50%;
}

.country-select {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#Countries {
    padding-bottom: 1rem;
}



