@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary: #8AB898;
  --tabContent-bg-primary: #323D44;
  --tag: #8A979F;
  --date: #B1BBC2;
  --sub-head: #626e77;
  --panel-title: #79868F;
  --panel-subTitle: #8A979F;
  --panel-active: 60,73,81;
}

section {
    margin-left: 7rem;
    height: 100vh;
    transition: display 200ms ease;
}

.tabContent {
    display: flex;
    flex-direction: row;
}

.sectionPage {
    display: flex;
    flex-direction: column;
    width: calc(55% - 3rem);
    background-color: var(--tabContent-bg-primary);
}

.header {
    height: 20%;
    margin: 0;
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    align-items: left;
}

.tag {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--tag);
    margin-left: 0.1rem;
    font-size: 0.8rem;
}

.date {
    margin: 0;
    font-weight: bold; 
    font-size: 2.4rem;
    color: var(--date);
}

.sub-head {
    margin-top: 0.2rem;
    margin-left: 0.15rem;
    font-size: 1.2rem;
    color: var(--sub-head);
}

.contentPanels { 
    height: 75%;
    margin: 0;
    align-items: left;
    overflow-y: scroll;
}

.panel {
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    transition: background-color 200ms ease;
    cursor: context-menu;
}

.panelTitle {
    font-size: 1.4rem;
    margin-left: 2rem;
    color: var(--panel-title);
}

.panelSubtitle {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    color: var(--panel-subTitle);
}

#active {
    background-color: rgb(var(--panel-active));
}

.panelTitle::before {
    display: inline-block;
    content: '';
    height: 0.8rem;
    width: 0.8rem;
    border: none;
    margin-right: 1.2rem;
    background-color: var(--text-primary);
}

.panel:hover {
    background-color: rgba(var(--panel-active), 0.4);
}